
<form (submit)="addContrie(newContrie)">
  <input type="text" #newContrie>
  <button>
    send contrie
  </button>
</form>

<ul>
  <li *ngFor="let pais of paises">
    {{pais}}
    <button (click)="deleteContries(pais)">
        X
    </button>

  </li>
</ul>
<!--
<button (click)="alerting()">
  click on here
</button>
-->
<div>
<p>databind</p>
<form >
  <input type="text" name="name"  [(ngModel)]="name">
  <br>
  <input type="text" name="age" id="" [(ngModel)]="age">
</form>
nombre:{{name}}
edad:{{age}}
</div>

<hr>

<div *ngFor="let post of posts">
<h3>{{post.title}}</h3>
<p>{{post.body}}</p>
</div>
